{{#partial "contenido"}}
  

<script>
function mostrarYOcultar(valor) {
   $("#"+valor).toggle("slow"); 
}
function mostrarValorDeCuenta(id,nombre,valor){
$("#textoDeEmpresa"+id).empty();
  $("#textoDeEmpresa"+id).append("<h5>"+valor+"</h5>"); 
  $("#botonSelecionador"+id).empty();
  $("#botonSelecionador"+id).append(nombre);
}
</script>
   <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Empresa</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

          {{#each empresas }}
              <tr>
                <td>{{nombre}}</td>
                <td align="center">
                  <a href="#" class="btn btn-outline-primary" onclick="mostrarYOcultar({{id}})">Ver balances</a>
                </td>
              </tr>
              <tr id="{{id}}" class="noMostrar">
                <td width="100%">
                  <table class="table">
                    <thead>
                      <tr>
                        <th width="25%">Periodo</th>
                        <th width="20%">Año</th>
                        <th width="35%">Cuenta</th>
                        <th width="20%">Valor</th>
                      </tr>
                    </thead>
                   
                    <tbody>
                    {{#each balances}}
                    
                      <tr>
                        <td>{{periodo}}</td>
                        
                        <td>{{anio}}</td>
                        
                        <td>
                          	<div class="btn-group">
                          		<button id="botonSelecionador{{id}}" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Seleccione cuenta</button>
                    	     	<div class="dropdown-menu">
	                       			{{#each cuentas}}
    	               		        	<a class="dropdown-item" href="#" onclick="mostrarValorDeCuenta({{../id}},'{{nombre}}',{{valor}})">{{nombre}}</a>
    	                   			{{/each}}
                 	    		</div>
                      		</div>
                        </td>       
                        
                	   <td id="textoDeEmpresa{{id}}" >
                           <h5> - - - </h5>  
                       </td>  
                                  
                      </tr>
                      
					{{/each}}
                    </tbody>
                  </table>
                </td>
              </tr>
			{{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  
{{/partial}}

{{>layout.hbs}}