{{#partial "contenido"}}
  

<script type="text/javascript">
  $(document).ready( function() {
      $("#evaluarEmpresa").attr("action", "/indicadores/" + $('#sel1').val() + "/" + $('#sel2').val());
      $('#sel1').change(function() {
        $("#evaluarEmpresa").attr("action", "/indicadores/" + $('#sel1').val() + "/" + $('#sel2').val());
      });
      $('#sel2').change(function() {
        $("#evaluarEmpresa").attr("action", "/indicadores/" + $('#sel1').val() + "/" + $('#sel2').val());
      });
      
   });
</script>

  <div class="py-5">
    <div class="container">
      <div class="form-group">
        <h4> Evaluacion de empresas </h4>
        <div class="row">
        
          <div class="col-md-4"> <label for="sel1" class="">Seleccione indicador:</label> <select class="form-control" name="selIndicador" id="sel1">
          {{#each indicadores}}
                        <option value="{{id}}">{{nombre}}</option>
           {{/each}}
                      </select> 
                     </div>
          <div class="col-md-4"> <label for="sel2" class="">Seleccione empresa:</label> <select class="form-control" name="selEmpresa" id="sel2">
                {{#each empresas}}
                        <option value="{{id}}">{{nombre}}</option>
           		{{/each}}
                      </select> </div>
          <div class="col-md-4">
          <form id="evaluarEmpresa" action="" method="GET">
            <button class="btn btn-primary btn-lg btn-block my-4" >Evaluar empresa </button>
            </form>
          </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
              <div class="row border border-light">
          <div class="col-md-3">
            <h1 class="">Año</h1>
          </div>
          <div class="col-md-3">
            <h1 class="">Periodo</h1>
          </div>
          <div class="col-md-6">
            <h1 class="">Resultado</h1>
          </div>
        </div>
        
        
        {{#each resultados}}
        <div class="row border border-light py-1">
          <div class="col-md-3">
            <h5>{{anio}}</h5>
          </div>
          <div class="col-md-3">
            <h5>{{periodo}}</h5>
          </div>
          <div class="col-md-6">
            <h5>{{resultado}}</h5>
          </div>
        </div>
        </div>
        {{/each}}
        
        
        
        
        
        
        <div class="container my-5">
        <div class="row">
          <div class="col-md-6">
            <h3 class="my-2">Formula del indicador:</h3>
            <p class="lead text-muted mx-2">{{formula}}</p>
          </div>
          <div class="col-md-6">
            <h3 class="my-2">Empresa:</h3>
           	 <p class="lead text-muted mx-2">{{empresa}}</p>  
            
          </div>
        </div>
      </div>
        
        
        


        </div>
      </div>
    </div>
  </div>
  
  

  
{{/partial}}

{{>layout.hbs}}